@font-face {
    font-family: 'raleway';
    src: url('/static/font/raleway-v14-latin-300.woff2'),
         url('/static/font/raleway-v14-latin-300.woff');
    font-display: swap;
}

@media (min-width: 1280px) {
    .text-base {
        font-size: 1.2rem;
    }
}

body {
    background-color: #fff;
    font-family: raleway;
    /*background-image: url(/static/img/qbkls.png);*/
}

.bg-dark {
    background-color: #181423;
}

.bg-blue {
    /*background-color: #1c4462;*/
    color: #fff;
}

.bg-yellow {
    background-color: #fff795;
}

.tiled-pattern {
    background-image: url(/static/img/qbkls.png);
}

.stripes-light {
    background-image: url(/static/img/stripes-light.png);
}

.memphis-mini {
    background-image: url(/static/img/memphis-mini.png);
}

.so-white {
    background-image: url(/static/img/so-white.png);
}

.dust-scratches {
    background-image: url(/static/img/paper_3.png);
}

.rounded-top-corners {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.rounded-corners {
    border-radius: 30px;
}

a {
    color: #2b6bfd;
}

a.dark-link {
    color: #ffc330;
    font-weight: bold;
}

a.dark-link:hover {
    color: #2b6bfd;
    background: #fff;
    border-radius: 5px;
}

.youtube {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}