@font-face {
    font-family: 'raleway';
    src: url('/static/font/raleway-v14-latin-300.woff2'),
         url('/static/font/raleway-v14-latin-300.woff');
    font-display: swap;
}

@media (min-width: 1280px) {
    .text-base {
        font-size: 1.2rem;
    }
}

body {
    background-color: #e4f0ff40;
    font-family: raleway;
    background-image: url(static/img/asset-1902x.png);
}

a {
    color: #2b6bfd;
}

.youtube {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}