<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CDK Day - 30th September 2020, come celebrate AWS CDK, CDKTF and CDK8s with us for one day">
  <meta name="keywords" content="aws, cdk, serverless, kubernetes, terraform">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="stylesheet" type="text/css" href="/_includes/assets/css/tailwind.css">
  <link rel="stylesheet" type="text/css" href="/_includes/assets/css/styles.css">
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
