<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="text-gray-600 work-sans leading-normal text-base tracking-normal">
		<section class="bg-white container main-container shadow-xl border border-gray-300 w-full mx-auto mt-8 mb-12 px-16 pb-16 pt-4">
			
		<div class="flex flex-wrap pb-1 pt-3 text-xl">
            <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
                <a aria-label="A link back to home" href="{{ '/' | url }}">
					<img src="/static/img/logo2.png" style="width: 500px;" alt="logo" class=""/>
				</a>
            </div>
			<div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 pt-6 md:pt-4 text-2xl text-gray-500">
				<p class="text-3xl text-gray-600">30th September 2020</p>
				<p class="text-xl">Fully Virtual</p>
				<p class="text-xl">10am to 3pm EST</p><br />
				<p class="mt-3"><a aria-label="link to sessionize.com to submit a talk proposal" href="https://sessionize.com/cdkday">CFP is open</a> from 12th to 26th August</p>
			</div>
			{% include "components/nav.njk" %}
        </div>
        <hr class="my-8"/>

			<main>
				{{ layoutContent | safe }}
			</main>

			{% include "components/footer.njk" %}
		</section>

	</body>

</html>
